.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 108rem;
  height: 100vh;

  &__nav {
    padding: 3.9rem 7.2rem 10.5rem 7.2rem;
    width: 100%;
  }

  &__content {
    margin: 6.2rem 9.2rem 9.4rem 7.2rem;
    width: inherit;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 91.4rem;
    min-height: 49.8rem;

    &-form {
      flex-basis: 36.9rem;
    }

    &-card {
      flex-basis: 37rem;
      margin-top: 1.7rem;
      margin-bottom: 1.7rem;
    }
  }

  &__footer {
    width: inherit;
  }
}