.container {

  &__nav {
    width: $row-width;
    margin: 2% auto 0 auto;
  }

  &__content {
    margin: 4% auto;
    width: $row-width;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 58.8rem;

    &-form {
      flex-basis: 36.9rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-card {
      align-self: center;
      flex: 0 0 30.5%;
    }
  }

  &__footer {
    width: 100%;
    background-color: rgba($color:#ffffffff, $alpha: 0.5);
  }
}