*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(svg/Rectangle-5.svg);
    //width height
    background-size: 70% 100%;
    background-repeat: no-repeat;
}