<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About App</title>
</head>

<body>
    <%- include('nav'); -%>

    <!--About section-->
    <div class="sect-about">
        <div class="about">
            <h1 class="about__heading"></h1>
            <p class="about__txt"></p>
        </div>
        <div class="logo">
            <span class="iconify" data-inline="false" data-icon="clarity:checkbox-list-line"
                style="color: #121211; font-size: 247px;"></span>
        </div>
    </div>

    <!--footer-->
    <%- include('footer'); -%>

</body>

</html>