<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About App</title>
</head>

<%- include('links'); -%>

<body class="container">
    <%- include('nav'); -%>

    <!--About section-->
    <div class="container__about">
        <div class="about">
            <h1 class="about__heading">About Your Daily Planer</h1>
            <p class="about__txt">
                This app is built to help designers and developers plan their work and lives better <br>
                hence improving their productivity
            </p>
        </div>
        <div class="logo">
            <span class="iconify" data-inline="false" data-icon="clarity:checkbox-list-line"
                style="color: #121211; font-size: 247px;"></span>
        </div>
    </div>

    <!--footer-->
    <%- include('footer'); -%>

</body>

</html>