<div class="container__footer">
    <footer class="footer">
        <p class="footer__copyright text">Created by &copy; DevArtist</p>
        <ul class="footer__nav">
            <li class="footer__item">
                <a href="#" class="footer__link">
                    <span class="iconify" data-inline="false" data-icon="fa:github-square"
                        style="color: #121211; font-size: 51px;"></span></a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">
                    <span class="iconify" data-inline="false" data-icon="fa-brands:discord"
                        style="color: #121211; font-size: 52px;"></span></a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">
                    <span class="iconify" data-inline="false" data-icon="brandico:facebook-rect"
                        style="color: #121211; font-size: 51px;"></span></a>
            </li>
        </ul>
    </footer>
</div>

<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>