<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Organiser</title>
</head>

<body>
    <!--navigation-->
    <%- include('nav'); -%>

    <!--Hero Section-->
    <div class="sect-hero">
        <div class="sect-hero__hero hero">
            <h1 class="hero__heading">
                plan your <br />
                day, <br />
                be better
            </h1>
            <form action="/" method="GET" class="hero__form">
                <button type="submit" name="button" class="hero__btn">Add</button>
            </form>
        </div>
        <div class="sect-hero__calender">
            <span class="iconify" data-inline="false" data-icon="whh:notesdatealt"
                style="color: #121211; font-size: 156px;"></span>
        </div>
    </div>
    <!--footer-->
    <%- include('footer'); -%>
</body>

</html>