<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>

<body>
    <!--2.2-->
    <h1><%= kindOfDay %></h1>

    <!--Create a new list-->
    <ul>
        <!--3.35-->
        <% for(let i = 0; i < newitem.length; i++) {%>
        <li> <%= newitem[i] %> </li>
        <% } %>
    </ul>


    <!--this form helps use to collect data from the user-->
    <form action="/" method="POST">
        <input type="text" name="nameItem">
        <button type="submit" name="button">Add</button>
    </form>
</body>

</html>