<div class="sect-nav">
    <nav class="nav">
        <div class="nav__logo">
            <span class="nav__logo-dark">Daily</span>
            <span class="nav__logo-ligth">Organiser</span>
        </div>
        <ul>
            <li><a href="#" class="nav__link">Home</a></li>
            <li><a href="#" class="nav__link">Work</a></li>
            <li><a href="#" class="nav__link">About</a></li>
        </ul>
    </nav>
</div>