<div class="container__nav">
    <nav class="nav">
        <div class="nav__logo">
            <span class="nav__logo-dark logo">Daily</span>
            <span class="nav__logo-light logo">Organiser</span>
        </div>
        <ul class="nav__list">
            <li><a href="#" class="nav__list-link text">Home</a></li>
            <li><a href="#" class="nav__list-link text">Work</a></li>
            <li><a href="#" class="nav__list-link text">About</a></li>
        </ul>
    </nav>
</div>