:root {
  --color-primary: #8EDAE6;
  --color-secondary: #CCA929;
  --color-white: #ffffff;
  --color-grey-light-1: #f4f2f2;
  --color-grey-light-2: #eeeeee;
  --color-grey-light-3: #ccc;
  --color-dark: #000000;
  --color-lighter-dark: #121211;
  --color-lightest-dark: #333330;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --fam-1: 'Orbitron', sans-serif;
  --fam-2: 'Roboto', sans-serif;
  --line: 1px solid var(--color-grey-light-2); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(svg/Rectangle-5.svg);
  background-size: 70% 100%;
  background-repeat: no-repeat; }

/*
   font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
.heading-1 {
  font-family: var(--fam-1);
  font-style: normal;
  font-weight: normal;
  font-size: 10rem;
  line-height: 100.4%; }

.heading-2 {
  font-family: var(--fam-1);
  font-style: normal;
  font-weight: bold;
  font-size: 10rem;
  line-height: 9.4rem; }

.heading-3 {
  font-family: var(--fam-1);
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  letter-spacing: -0.04em; }

.logo {
  font-family: var(--fam-1);
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3.1rem; }

.text {
  font-family: var(--fam-2);
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3.3rem; }

.btn-text {
  font-family: var(--fam-2);
  font-style: normal;
  font-weight: normal;
  font-size: 6rem;
  line-height: 3.8rem; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  min-height: 46.6rem;
  border-radius: 3rem;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3), -4px -4px 5px 0 rgba(255, 255, 255, 0.3); }
  .card__list {
    list-style-type: none; }
  .card__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);
    padding: 8px; }
    .card__item-input {
      margin-right: 1.5rem; }

.card__item-input:checked + p {
  text-decoration: line-through; }

.footer {
  width: 64.67%;
  margin: 1.5% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none; }
  .footer__item:not(:last-child) {
    margin-right: 6rem; }

.form__label {
  font-family: var(--fam-2);
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3.3rem;
  color: var(--color-white);
  text-shadow: 1px 1px white;
  transform: translateY(-7.6rem);
  transition: all .3s; }

.form__inputArea {
  display: flex;
  flex-direction: row; }

.form__input {
  margin-top: 10%;
  width: 36.6rem;
  height: 6rem;
  border: none;
  background-color: transparent;
  border-bottom: 5px solid var(--color-lighter-dark);
  font-family: var(--fam-2);
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3.3rem;
  color: var(--color-secondary); }
  .form__input:focus {
    outline: none;
    background-color: transparent;
    border-bottom: 5px solid var(--color-lighter-dark); }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(7.5rem); }

.form__btn {
  margin-top: 7%;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 2.5rem;
  border: none;
  color: black;
  background-color: var(--color-lightest-dark); }
  .form__btn:focus {
    outline: none; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
  height: 9.3rem; }
  .nav__logo {
    flex-basis: 22.7rem;
    display: inline-block;
    color: var(--color-primary); }
    .nav__logo-dark {
      opacity: 1;
      color: inherit; }
    .nav__logo-light {
      opacity: 0.5;
      color: inherit; }
  .nav__list {
    flex-basis: 36.9rem;
    margin-right: 2.1rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none; }
    .nav__list-link:link, .nav__list-link:visited {
      color: var(--color-white);
      border: none;
      text-decoration: none;
      padding: 3.1rem 0 2.4rem 0;
      transition: all .5s; }
    .nav__list-link:hover, .nav__list-link:active {
      color: #ffffff;
      border-bottom: 2px solid var(--color-white); }

.container__nav {
  width: 64.67%;
  margin: 2% auto 0 auto; }

.container__content {
  margin: 4% auto;
  width: 64.67%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 58.8rem; }
  .container__content-form {
    flex-basis: 36.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .container__content-card {
    align-self: center;
    flex: 0 0 30.5%; }

.container__footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5); }

.container__calender {
  align-self: center;
  flex: 0 0 30.5%;
  text-align: center; }
