.footer {
    width: 64.67%;
    margin: 1.5% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        list-style-type: none;
    }

    &__item:not(:last-child) {
        margin-right: 6rem;
    }
}