.form {

    &__label {
        font-family: var(--fam-2);
        font-style: normal;
        font-weight: normal;
        font-size: $fs-smallest;
        line-height: 3.3rem;

        color: var(--color-white);
        text-shadow: 1px 1px white;

        transform: translateY(-7.6rem);
        transition: all .3s;
    }

    &__inputArea {
        display: flex;
        flex-direction: row;
    }

    &__input {
        margin-top: 10%;
        width: 36.6rem;
        height: 6rem;
        border: none;
        background-color: transparent;
        border-bottom: 5px solid var(--color-lighter-dark);

        font-family: var(--fam-2);
        font-style: normal;
        font-weight: normal;
        font-size: $fs-small;
        line-height: 3.3rem;

        color: var(--color-secondary);

        &:focus {
            outline: none;
            background-color: transparent;
            border-bottom: 5px solid var(--color-lighter-dark);
        }
    }

    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(7.5rem);
    }



    &__btn {
        margin-top: 7%;
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 2.5rem;
        border: none;
        color: black;
        background-color: var(--color-lightest-dark);

        &:focus {
            outline: none;
        }
    }
}