:root {
    --color-primary: #8EDAE6;
    --color-secondary: #CCA929;

    --color-white: #ffffff;
    --color-grey-light-1: #f4f2f2;
    --color-grey-light-2: #eeeeee;
    --color-grey-light-3: #ccc;

    --color-dark: #000000;
    --color-lighter-dark: #121211;
    --color-lightest-dark: #333330;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

    --fam-1: 'Orbitron', sans-serif;
    --fam-2: 'Roboto', sans-serif;

    --line: 1px solid var(--color-grey-light-2);
}

//    color: var(--color-grey-dark-2);